button.nav-link {
	border: none;
}

.container.form-container {
	max-width: 50rem;
}

.tab .nav-item:not(:first-of-type) {
	padding-left: 2rem;
}

.tab .nav-link {
	padding: 0;
}

.tab .nav-link.active {
	color: var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
	padding: 0;
}

.background-avatar {
	background: no-repeat center;
	background-size: cover;
}

.modal {
	position: fixed;
	z-index: 90;
}
